body {
  background-color: slategray;
}

h1 {
  text-align: center;
}

p {
  font-size: large;
}

.btn {
  background-color: lightgray;
}

#output {
  text-align: center;
  font-size: larger;
  background-color: yellow;
  font-weight: bold;
}
